<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Task Management Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="outer-container">
        <div class="container">
            <h1>{{ message }}</h1>
            <a href="{{ url_for('login') }}" class="button">Click here to login</a>
        </div>
    </div>
</body>
</html>
